.cabecalho {
    display: flex;
    justify-content: space-between;
    margin: 4rem 15rem;
}

.logo {
    text-decoration: none;
    font-size: 30px;
    color: var(--cor-fonte-primaria);
}

.lista-menu {
    display: flex;
    gap: 2rem;
    font-size: 24px;
}

.lista-menu__link {
    text-decoration: none;
    color: var(--cor-fonte-primaria);
}

.lista-menu__link:hover, .logo:hover{
    color: var(--cor-fonte-terciaria);
}